/* Contenedor de tarjetas */
.carrito {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  margin: 15px;
  margin-top: 55px;
}

/* Estilos para cada tarjeta */
.tarjeta {
  color: #ffffff;
  border: 4px solid; /* Define el grosor del borde */
  border-radius: 4px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center; /* Centrar contenido horizontalmente */
  border-image: linear-gradient(to right, red,palevioletred, purple , #00e2ff,#89ff00,yellow) 1; /* Gradiente de color para el borde */
  background-color: #363330;
}


/* Estilos para la imagen de la tarjeta */
.tarjeta-imagen {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 4px;
  margin-bottom: 10px; /* Añadido margen inferior */
}

/* Estilos para el contenido de la tarjeta */
.tarjeta-contenido {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centrar contenido horizontalmente */
}

/* Estilos para el título de la tarjeta */
.tarjeta-titulo {
  margin: 0;
  text-align: center; /* Centrar texto */
  font-weight: bold;
}

/* Estilos para la descripción de la tarjeta */
.tarjeta-descripcion {
  margin: 0;
  margin-bottom: 10px;
  font-size: medium;
}

/* Estilos para el precio de la tarjeta */
.tarjeta-precio {
  margin: 0;
  font-weight: bold;
  text-align: center; /* Centrar texto */
}

/* Estilos para el botón agregar */
.boton-agregar {
  width: 50px;
  background-color: #6ac403;
  color: white;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
}

/* Hover para el botón agregar */
.boton-agregar:hover {
  background-color: #45a049;
}

/* Estilos para el botón quitar */
.boton-quitar {
  width: 50px;
  background-color: #af4c4c;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
}

/* Hover para el botón quitar */
.boton-quitar:hover {
  background-color: #a04545;
}

.search-input {
  width: 50%;
  position: absolute;
  left: 25%;
  margin-top: 10px;
  background-color: gray; /* Fondo gris */
  border: 1px solid black; /* Borde negro */
  color: white; /* Texto blanco */
  padding: 5px; /* Añadir relleno para mejorar la apariencia */
  box-sizing: border-box; /* Asegura que el relleno no afecte al ancho total */
}
.search-input::placeholder {
  color: rgba(255, 255, 255, 0.81); /* Texto del placeholder blanco */
}

.btn{
    width: 10px;
}

.quantity{
  width: 40px;
}

.comprar{
  width: 100%;
}