*{
    margin: 0;
    box-sizing: border-box;
}
.page-container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content{
    width: 50%;
    height: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.slide-panel{
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.13);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    display: flex;
    align-items: center;
    width: 25em;
    height: 25em;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
}

.prev,.next{
    width: 2em;
    height: 2em;
    cursor: pointer;
    transition: 0.25x;
}

.prev:hover, .next:hover{transform: scale(1.25);}



.homeimg{
    scroll-snap-align: start;
    max-height: 100%;
    min-width: 100%;
    border-radius: 0.2em;
}

::-webkit-scrollbar{
    display: none;
}

.Home {
    width: 100%;
    overflow: auto;
    margin-bottom: 100px;
}

.ini{
    margin: 30px;
    width: 100%;
    height: auto;

}

.imgizq{
    margin-top: -25px;
    width: 25%;
    float: left; 
    height: auto;
    margin-left: 100px;
}

.der {
    margin-top: 40px;
    margin-right: 200px;
    width: 50%; 
    float: right; 
    height: auto;
}

.der h1 {
    font-size: 40px;
}

.der p {
    font-size: larger;
}
.izq{
    margin-top: 40px;
    margin-left: 150px;
    width: 50%; 
    float: left; 
    height: auto;

}
.izq h1 {
    font-size: 40px;
}

.izq p {
    font-size: medium;
}

.imgder{
    margin-top: -25px;
    width: 25%;
    float: right; 
    height: auto;
    margin-right: 150px;

}

.titulin{
    margin-left: 35%;
    margin-top: 1200px;
    width: 50%; 
    float: center; 
    height: auto;
}

.titulin h1{
    font-size: 40px;
}